<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:alipay.properties</value>
            </list>
        </property>
    </bean>
    <!-- 支付宝参数设置 -->
    <bean id="alipayServiceEnvConstants" class="com.alipay.constants.AlipayServiceEnvConstants">
        <property name="ALIPAY_GATEWAY" value="${ALIPAY_GATEWAY}"/>
        <property name="ALIPAY_PUBLIC_KEY" value="${ALIPAY_PUBLIC_KEY}"/>
        <property name="APP_ID" value="${APP_ID}"/>
        <property name="CHARSET" value="${CHARSET}"/>
        <property name="GRANT_TYPE" value="${GRANT_TYPE}"/>
        <property name="PARTNER" value="${PARTNER}"/>
        <property name="PRIVATE_KEY" value="${PRIVATE_KEY}"/>
        <property name="SIGN_CHARSET" value="${SIGN_CHARSET}"/>
        <property name="PUBLIC_KEY" value="${PUBLIC_KEY}"/>
        <property name="SIGN_TYPE" value="${SIGN_TYPE}"/>
    </bean>
    <!-- 支付宝接口工厂类 -->
    <bean id="alipayAPIClientFactory" class="com.alipay.factory.AlipayAPIClientFactory">
        <property name="alipayServiceEnvConstants" ref="alipayServiceEnvConstants"/>
    </bean>
    <!-- 支付宝接口服务类 -->
    <bean id="aliPayThirdPartyPaymentService" class="com.xteam.tourismpay.api.service.impl.AliPayThirdPartyPaymentServiceImpl">
        <property name="alipayAPIClientFactory" ref="alipayAPIClientFactory"/>
    </bean>
</beans>