<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:wxpay.properties</value>
            </list>
        </property>
    </bean>
    <!-- 微信参数设置 -->
    <bean id="wxConfig" class="com.tourism.api.service.impl.WxConfig">
        <property name="appid" value="${appid}"/>
        <property name="appsecret" value="${appsecret}"/>
        <property name="body" value="${body}"/>
        <property name="key" value="${key}"/>
        <property name="mchid" value="${mchid}"/>
        <property name="notify_url" value="${notify_url}"/>
        <property name="spbill_create_ip" value="${spbill_create_ip}"/>
    </bean>
    <!-- 微信接口服务类 -->
    <bean id="wxPayThirdPartyPaymentService" class="com.tourism.api.service.impl.WxPayThirdPartyPaymentServiceImpl">
        <property name="wxConfig" ref="wxConfig"/>
    </bean>
</beans>


